In [1]:
import tweepy
from tweepy import OAuthHandler

consumer_key = "mW3WG37s3VLj6nGgASAKRLUZA"
consumer_secret = "N7grF3kosZOAkONlMXL2R7QihaiKlBec4LZVziQAPWIpxE5r0G"
access_token = "1643191566230769664-V6zBb3uYHBS1RKC7qARlyx19j0JTQO"
access_token_secret = "m5Ayghx9kuK8qeL92gy43gOwLul7OORswDEG0MLuft6HK"

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [5]:
# ADD LIBRARY IMPORTS HERE
import json
import time
import datetime
import pytz
import pandas as pd
from google.colab import files

In [4]:
# SIMPLE TWEET COLLECTION - NOTHING NEW TO SEE HERE BUT NOTE THE ITEMS WE ARE INTERESTED IN AND HOW TO NAVIGATE PYTHON ARRAYS
sname = 'omegawatches'
id = []
text = []
tmp = api.user_timeline(screen_name = sname, count=30)
for t in tmp:
  id.append(t.id)
  text.append(t.text)

In [7]:
df = pd.DataFrame(columns = ['id', 'text'])
df['id'] = id
df['text'] = text
df

                     id                                               text
0   1674451519804940288  #Seamaster\n\nPrecision at every level. \n\n30...
1   1674357234124374017  #Seamaster \n\nOMEGA in Mykonos.\n\nImmerse yo...
2   1674009764244738051  #Seamaster \n\nPrecision at every level.\n\n12...
3   1673681524095434752  #Seamaster\n\nPrecision at every level.\n\nDis...
4   1673421040381227015  #Seamaster\n\nOMEGA in Mykonos. \n\nBe ready f...
5   1673028342201700354  #Seamaster \n\nPrecision at every level.\n\nJu...
6   1672628175103221761  It’s not just the colours that are special. In...
7   1672258342264209410  The magic behind the colours. Take a glimpse i...
8   1671899272877420544  It takes many steps of craftsmanship to create...
9   1671537296506535936  From a raw piece of material, each OMEGA brace...
10  1671489596922777603  The hands of time. Each one brought to life wi...
11  1670840358186500118  Crafting the hands of the Aqua Terra Shades co...
12  1670446278122037248  In the office or after-hours, the Constellatio...
13  1670083896296259584  The Speedmaster Moonwatch. A legendary watch f...
14  1669744148893642762  For Dads who love the classics, the Seamaster ...
15  1669374214900445185  The inspired choice of Diego Boneta: an Aqua T...
16  1669313811373776897  Diego Boneta’s preferred timepiece: the 38 mm ...
17  1668996727553007618  OMEGA welcomes Diego Boneta as a new friend of...
18  1667562278378520578  #AquaTerraShades: EVERY SHADE OF YOU. Exclusiv...
19  1667502021165940740  #AquaTerraShades: EVERY SHADE OF YOU. Behind t...
20  1667199892039581698  #AquaTerraShades: EVERY SHADE OF YOU. On set m...
21  1667139601209671687  #AquaTerraShades: EVERY SHADE OF YOU. Go behin...
22  1666822410035941382  #AquaTerraShades: EVERY SHADE OF YOU. Our glob...
23  1666121923464503296  #AquaTerraShades: EVERY SHADE OF YOU. The dire...
24  1665010455033544707  The gradient dial of the 45.5 mm Seamaster Ult...
25  1664648065897070593  Four Arabic numerals in orange and 18K white g...
26  1664285684197126145  A polished orange ceramic bezel with diving sc...
27  1663938395771371523  Rhodium-plated hands and 18K white gold indexe...
28  1663880513726152704  The 38 mm Seamaster Aqua Terra in stainless st...
29  1663560912480133134  A sun-brushed dark green dial with date window...

In [8]:
df.to_csv("Omega_Tweepy.csv", index=False) #save into csv files