In [11]:
import tweepy
from tweepy import OAuthHandler
import pandas as pd
import re
import string

consumer_key = "Wj2lTBcBUscgL8kYfDp0wtft4"
consumer_secret = "0TJPWVSnSCd0bvMUmWRxe9FrlEerx3b4VZ0i2PgMjQ0YCDJFhd"
access_token = "1643093376491999233-i2CjqnMkx1G9fnMVpoGpPDUbAfR0sC"
access_token_secret = "gRX8fwR2qD4Yo19PHRLfPaLKVpbBGBqlqpvBZlfN8iDXl"

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [3]:
screen_name = 'Richard_Mille'

In [4]:
tmp = api.user_timeline(screen_name=screen_name, count=30)

tweets = [[t.id, t.created_at, t.text]for t in tmp]

In [14]:
df = pd.DataFrame(tweets, columns=['id', 'created_at', 'content'])

In [15]:
df.head()

,id,created_at,content
0,1674071369309384707,2023-06-28 15:04:51+00:00,The first-ever edition of the Richard Mille Cu...
1,1673349294533771265,2023-06-26 15:15:35+00:00,Anatomy of the RM 72-01 Red Gold. \n\n#Richard...
2,1672266426164432896,2023-06-23 15:32:39+00:00,"Rare are the objects which, like racing cars, ..."
3,1671897519180382208,2023-06-22 15:06:45+00:00,"Limited to 150 pieces, the new RM 72-01 Le Man..."
4,1671535871965777920,2023-06-21 15:09:42+00:00,"Live your passion. Be daring, throw yourself i..."

In [16]:
def text_clean(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub(r'http\S+', '', text, flags = re.MULTILINE)
    return text

cleaned = lambda x: text_clean(x)

cleaned_text = lambda x: text_clean(x)

In [17]:
df['cleaned_content'] = pd.DataFrame(df['content'].apply(cleaned))
df.head()

,id,created_at,content,cleaned_content
0,1674071369309384707,2023-06-28 15:04:51+00:00,The first-ever edition of the Richard Mille Cu...,the firstever edition of the richard mille cup...
1,1673349294533771265,2023-06-26 15:15:35+00:00,Anatomy of the RM 72-01 Red Gold. \n\n#Richard...,anatomy of the rm 7201 red gold \n\nrichardmille
2,1672266426164432896,2023-06-23 15:32:39+00:00,"Rare are the objects which, like racing cars, ...",rare are the objects which like racing cars ex...
3,1671897519180382208,2023-06-22 15:06:45+00:00,"Limited to 150 pieces, the new RM 72-01 Le Man...",limited to 150 pieces the new rm 7201 le mans ...
4,1671535871965777920,2023-06-21 15:09:42+00:00,"Live your passion. Be daring, throw yourself i...",live your passion be daring throw yourself int...

In [18]:
df.to_csv('RichardMille_Tweepy.csv', index = False)